@import url(//db.onlinewebfonts.com/c/016f50054d487d421dc18257a191a3ad?family=Noteworthy);
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
/* BANNER */ 
html, body{ 
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #f1f1f1;
    scroll-behavior: smooth;
}

.main-image{
    position: relative;
    background: #000000 center no-repeat;
    background-size: cover;
    height: 532PX;
    overflow: hidden;
}

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
}
.container h1{
    margin: 0;
    font-size: 70px;
}
.container h1 span {
    border: 6px solid white;
    padding: 6px 14px;
    display: inline-block;
}
.cen{
    margin: 20px;
    display: block;
    font-size: 26px;
}

.button{
    color: #313131;
    padding: 10px 24px;
    background: #f1f1f1;
    text-decoration: none;
    border-radius: 10px;
    transition: .6s;
}
.button:hover {
    background-color: #989191;
}
.logonav{
    justify-content: flex-start;
    width: 250px;
    margin-right: auto;
    cursor: pointer;
    color: #fff;
    font-family:Noteworthy;
}
/*BANNER*/ 
/*NAVBAR*/
nav{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #000000;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 15px 15%;
   
}
li, a, button {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
}
.logo {
    cursor: pointer;
    margin-right: auto;
    color: white;
}
.nav_links{
    list-style: none;
}
.nav_links li{
    display: inline-block;
    padding: 0px 20px;
}
.nav_links li a {
    transition: all 0.3s ease 0s;
}
.nav_links li a:hover {
    opacity: .7;;
}
button {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
button:hover {
    background-color: aqua;
}
/*NAVBAR*/
/*SERVIÃƒâ€¡OS*/
.servicos{
    padding: 15px;
    text-align: center;
}
.servicos .card {
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.servicos .card .img {
    width: 50px;
    margin: 30px;

}

.servicos .servicos-title{
    text-align: center;
    text-transform: uppercase;
    margin: 10px 0;
}
.servicos .servicos-cards{
    display: flex;
    justify-content: space-between;
    margin: auto;
    max-width: 1000px;
}
.servicos .card .card-content{
    height: 250px;
    text-align: center;
}
/*SERVIÃƒâ€¡OS*/
/* SESSÃƒO PRICING */
.pricing {
  margin: 0;
  padding: 40px 20px;
  box-sizing: border-box;
  background: #F1F1F3;
}
.pricing body{
  font-family: "Lato", sans-serif;
}
.pricing .detalhes {
  width: 90%;
  max-width: 500px;
  text-align: center;
  margin: 0 auto;
  padding: 40px 20px;
}
.pricing .detalhes .h1 {
  font-size: 30px;
  margin-bottom: 5px;
}
.pricing .detalhes p {
  font-size: 20px;
}
.pricing .grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px 0px;
  padding: 20px;
}
.pricing .grid .box {
  width: 350px;
  border: 1px solid #eee;
  text-align: center;
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 2px 10px 5px;

}
.pricing .grid .box .title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #555;
  }
.pricing .grid .box .preco {
    margin-bottom: 20px;
}
.pricing .grid .box .preco b{
    display: block;
    font-size: 40px;
    margin-bottom: -5px;
}
.pricing .grid .box .bonus > * {
color: #555;
padding: 8px 0px;
border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.pricing .grid .box.site {
    transform: scale(1.1);
    background-color: #000000;
}
.pricing .grid .box.site .title {
    color: #eee;
}
.pricing .grid .box.site .preco {
    color: #eee;
}
.pricing .grid .box.site .bonus1 {
    color: #eee;
}
.pricing .grid .box.site button{
    margin-top: 30px;
}
.pricing .grid .box.site:hover {
    transition:0.7s;
    transform: scale(1.3);
}
.pricing .grid .box.format:hover{
    transition:0.7s;
    transform: scale(1.1);
}
.pricing .grid .box.firewall:hover{
    transition:0.7s;
    transform: scale(1.1);
}
/*SESSÃƒO PRICING*/
/*SOBRE MIM*/
.wrapper {
   margin:0px;
   padding: 0px;
   box-sizing: border-box; 
   font-family: 'Poppins', sans-serif;
   text-align: center;
   color: #fff;
   line-height: 1.5;
   letter-spacing: 1px;
   min-height: 100vh;
   width: 100%;
   background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url(/assets/00tLYTqwmgFvacZlYPc5ecO-8..v1583853669.jpg);
   background-position: center;
   background-repeat: no-repeat;
   background-size:cover ;
   
}
.testimonial {
    padding: 30px 100px;
}
.article h1{
    font-size: 50px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 1.5px;

}
.article h1::after{
    content: "";
    height: 5px;
    width: 225px;
    background-color: #fff;
    display: block;
    margin: auto;
}
.article img {
    height: 350px;
    width: 350px;
  border: 2px solid #fff; 
  border-radius: 50%;
  margin-top: 60px; 
  transition: 0.5s;
}
.article blockquote{
    font-family: sans-serif;
    font-size: 25px;
    margin-top: 30px;

}
.article h5{
    text-transform: uppercase;
    font-size: 30px;
    margin-top: 30px;
    letter-spacing: 1.5px;
    

}
.article p{
    font-size: 17px;

}
.article img:hover {
    transform: scale(1.1);  
}
/*SEÃ‡ÃƒO ABOUT ME*/
/*FOOTER*/
footer {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    background-color: #000000;
    height: auto;
    width: auto;
    font-family: "Open Sans";
    padding-top: 40px;
    color: #fff;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}
.sociais{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.sociais li{
    margin: 0 10px;
}
.sociais a{
    text-decoration: none;
    color: #fff;
}
.sociais a i{
    font-size: 1.1rem;
    transition: color .4s ease;
   transition: .3s;

}
.sociais a:hover i{
    color: aqua;
    transform: scale(1.3);
}
.footer-bottom{
    background-color:#313131 ;
    width: auto;
    padding: 5px 0;
    text-align: center;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .5;
    font-weight: 200;
}



